[Unit]
Description=Update AUR npm packages

[Service]
Type=simple
Environment=HOME=%h XDG_CONFIG_HOME=${XDG_CONFIG_HOME:=$HOME/.config}
ExecStart=/usr/bin/aur-update-npm-package --config="$XDG_CONFIG_HOME/aur-update-npm-package.conf"
